.navbar {
    overflow: hidden;
    display: flex;
  }
  
  .navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 17px;
    padding : 8px 5px 15px 5px;
  }
  
  .navBrand {
    background: #191716;
    width: 30%;
    display : flex;
    justify-content : center;
  }
  .navBrand a{
    padding : 12px 10px;
    font-size: 24px;
    background: -webkit-linear-gradient(45deg, #42AAF0, #DE0D92, #DACC3E);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Press Start 2P', cursive;
  }
  
  .navItems {
    width : 70%;
    background : #42AAF0;
    display : flex;
    justify-content : space-around;
  }
  
  .navItems a{
    padding : 17px 10px;
    font-weight: bold;
    width: 33.334%; /*This needs to be updated if more items are added to navbar*/
  }
  
  .navItems a:hover {
    color: white;
    background-color: #8ECCF6;
  }
  
  a.active {
    color: #42AAF0;
    background-color: white;
  }