.navbar {
    height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    background: #42AAF0;
  }
  
  .navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 17px;
  }
  
  .navBrand {
    width: 30%;
    min-width: 320px;
    display: flex;
    justify-content: center;
  }
  .navBrand a{
    font-size: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
  }
  
  .navItems {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  
  .navItems a{
    padding: 20px 20px;
    font-weight: bold;
    width: 33.334%; /*This needs to be updated if more items are added to navbar*/
  }
  
  .navItems a:hover {
    background-color: #92E378;
    color: white;
  }  

  a.active {
    color: #42AAF0;
    background-color: white;
  }

  @media (max-width: 900px) {

    .navItems{
      width: 100%;
    }

    .navBrand{
      display: none;
    }

    .hamburger{
      display: block;
    }
  }